body {
    font-family: sans-serif;
}

h1 {
    font-size: 50px;
    text-align: center;
}

table {
    border-collapse: collapse;
    border: 1px solid lightgrey;
    margin: 10px; 
    text-align: center; 
    font-size: 20px;
}

tr {
    background-color: olive;
    color: white;
    border: 1px solid lightgrey;
}

.First {
    border:1px solid lightgrey;
    padding:0px;
}

td {
    padding: 5px;
    border: 1px solid lightgrey;
}

.coffe {
    background-color: burlywood; 
    color: black;
    padding: 5px;
    border: 1px solid lightgrey;
}

.white {
background-color: white;
color: black; 
padding: 5px;
border: 1px solid lightgrey;
}

.elena{
background-color: burlywood;
color: black; padding: 5px;
border: 1px solid lightgrey;
}

.secc{
    background-color: white;
    color: black;
    padding: 5px;
    border: 1px solid lightgrey;
}
